// style changes for panels
// // bootstrap-sass-3.3.6\assets\stylesheets\bootstrap\_panels.scss
.panel {
  background-color: $structure-300;
  padding: 34px 40px 17px;
  margin-top: 34px;
}
.panel-heading {
  background-color: $structure-200;
}
