// style related to topology

.main-selection-heading {
	color: $primary-600;
	font-size: 36px;
	padding-bottom: 45px;
	font-weight: normal;
}

.sub-selection-heading {
	color: $aux-600;
	padding-bottom: 17px;
	border-bottom: 3px solid $primary-600;
	font-weight: normal;
}
